* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.page-header {
  background: #888787;
  color: #fff;
  padding: 20px 20px;
  position: relative;
  z-index: 2;
}

.main-btn {
  border: 2px solid #fff;
  padding: 10px 20px;
  box-shadow: 3px 3px 0px #888787;
}

.container ul li {
  list-style: decimal-leading-zero;
  margin-top: 2%;
  margin-left: 10%;
  font-size: larger;
  color: black;
}
