body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: sans-serif;
}

.cardPersonal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 0px 0px 300px;
  text-align: left;
}
