* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0% 10%;
}

.top-nav {
  height: 80px;
  background-color: black;
}

.top-nav ul {
  padding: 1% 5%;
  list-style: none;
}
.top-nav ul a {
  font-weight: bold;
  outline: none;
  text-decoration: none;
  font-size: 50px;
  color: white;
}

.container h1 {
  text-align: center;
  font-size: 40px;
  margin: 1%;
}

.columnas {
  display: flex;
  flex-direction: row;
}

.perfil {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1.2%;
  border: 4px solid #000;
  height: 350px;
}

.avatar {
  align-self: center;
  font-size: x-large;
}

.perfil h1 {
  font-size: xx-large;
  padding-top: 5%;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagen img {
  width: 150px;
  height: auto;
  margin: 10%;
}

.caja {
  flex: 2;
}
.caja1 {
  margin: 2%;
  width: 700px;
  height: 180px;
  font-size: x-large;
  border: 4px solid #000;
  font-family: sans-serif;
}
.caja2 {
  margin: 2%;
  width: 700px;
  height: 180px;
  font-size: x-large;
  border: 4px solid #000;
  font-family: sans-serif;
}

.caja3 {
  margin: 2%;
  width: 700px;
  height: 180px;
  font-size: x-large;
  border: 4px solid #000;
  font-family: sans-serif;
}
.linea-sup {
  display: flex;
  padding: 7% 5% 0% 5%;
}

.linea-sup h3 {
  flex: 3;
}
.linea-sup h4 {
  flex: 1;
}
.linea-sup button {
  flex: 1;
  height: 40px;
  margin-top: -10px;
  font-weight: bold;
  font-size: large;
  text-align: center;
  border: 2px solid #000;
  background-color: gold;
  box-shadow: 3px 5px black;
}

.linea-inf {
  padding: 5% 5% 5% 5%;
}
