* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.main {
  margin: 2%;
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  border: solid 2px black;
}

.cols {
  display: flex;
  flex-direction: row;
}
